* {
    padding: 0;
    border: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/*HEADER & NAVBAR*/

header{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 15px;
}

nav{
    background-color: #ff6666;
    padding: 15px;
    text-align: center;
}

nav li{
    display: inline;
}

nav a{
    color: white;
    padding: 0px 5px 0px 5px;
    margin: 0px 60px 0px 60px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

nav a:hover{
    border-bottom: 2px solid white;
}

/*BODY*/

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;  
}

.DivClass1{
    column-count: 2;
    column-gap: 30px;
    column-width: 50%;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #ff6666;
    padding: 40px 60px 0 60px;
    line-height: 25px;
    font-size: 16px;
}

.Video{
    display: block;
    padding-top: 10px;
    margin: 0 auto;
    size: 90%;
}

h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}

.bulletpoint{
    padding: 0px 40px 10px 40px;
    font-family: 'Cabin', sans-serif;
}

.songtext{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

p{
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

/*FOOTER*/

footer{
    background-color: #e0e0e0;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
}

footer a{
 color: #ff6666;
}

/*RESPONSIVENESS*/

@media only screen and (max-width: 639px) {
    .DivClass1 {
      display: none;
    }
  }

  @media only screen and (min-width: 640px) {
    .Mobile {
      display: none;
    }
  }

  #MobileText{
      text-align: center;
  }